@using O = Aurora.Core.Overrides.Visual.Base

<div class="override-entry-node">
    <VisualBodyPresenter Body="Entry.Body" />
</div>

@code {
    [Parameter] public O::VisualEntry Entry { get; set; }
}
